<app-header></app-header>
<div class="main-content">
  <header class="document-validator-header">
    <h1 class="primary-heading">
      Validate your docs with ease
    </h1>
    <p class="subheading">
      A tool that ensures document accuracy, consistency, and correctness
      efficiently.
    </p>
  </header>
  <main class="main-container">
    <section class="wrapper">
      <article class="status-bar">
        <nav class="step-navigation">
          <div class="step-indicator">
            <div class="step">
              <span class="step-dot"></span>
            </div>
          </div>
          <div class="progress-line"></div>
          <div class="step-indicator">
            <div class="step">
              <span class="step-dot"></span>
            </div>
          </div>
          <div class="progress-line"></div>
          <div class="step-indicator">
            <div class="step">
              <span class="step-dot"></span>
            </div>
          </div>
        </nav>
      </article>
      <section class="content-box">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/5fe680a3be76303b367b2ec38a47334f7b2845a94079d48724e9ea88a74c8e9a?placeholderIfAbsent=true&apiKey=2d165a40f05f44189b90cfb2a5e8a7fd"
          class="status-icon"
          alt="Progress status indicator"
        />
        <h2 class="secondary-heading">
          Drop your files here
        </h2>
        <h4 class="secondary-tool-tip">
          Supported files: .pdf, .doc, .txt
        </h4>
      </section>
    </section>
  </main>
  <footer>

  </footer>
</div>
