<app-header></app-header>
<div class="main-content">
  <header class="document-validator-header">
    <h1 class="primary-heading">
      Validate your docs with ease
    </h1>
    <p class="subheading">
      A tool that ensures document accuracy, consistency, and correctness
      efficiently.
    </p>
  </header>
  <main class="main-container">
    <section class="wrapper">
      <article class="status-bar">
        <nav class="step-navigation">
          <div class="step-indicator">
            <div class="step active">
              <i *ngIf="steps >= 1" class="fa-solid fa-check"></i>
              <span class="step-dot" [ngClass]="steps < 1 ? '' : 'dot-hidden' " style="background: #4f46e5"></span>
            </div>
          </div>
          <div class="progress-line line-green"></div>
          <div class="step-indicator">
            <div class="step" [ngClass]="steps >= 1 ? 'active' : '' ">
              <i *ngIf="steps >= 2" class="fa-solid fa-check"></i>
              <span class="step-dot" [ngClass]="steps < 2 ? '' : 'dot-hidden' "></span>
            </div>
          </div>
          <div class="progress-line" [ngClass]="steps >= 2 ? 'line-green' : ''"></div>
          <div class="step-indicator">
            <div class="step">
              <i *ngIf="steps == 3" class="fa-solid fa-check"></i>
              <span class="step-dot" [ngClass]="steps < 3 ? '' : 'dot-hidden' "></span>
            </div>
          </div>
        </nav>

      </article>
      <section *ngIf="steps < 2" class="content-box" [ngClass]="shouldAnimate ? 'rotating' : ''">
        <div *ngIf="steps < 2" class="content-box-inner">
          <div class="add-icon" (click)="triggerFileInput(steps)" ><i class="fa-solid fa-plus"></i></div>
          <h2 class="secondary-heading">
            {{steps == 0 ? "Import your files here" : "Add second document"}}
          </h2>
          <h4 class="secondary-tool-tip">
            Supported files: .pdf, .doc, .txt
          </h4>
        </div>
      </section>
        <div *ngIf="steps >=2 " class="instructions-block">
          <textarea class="instructions" [(ngModel)]="instructions" placeholder="Type your instructions here..."></textarea>
          <div class="helpers">
            <div class="loadedFiles">
              <div class="file-block">
                <i [ngClass]="getIcon(file1?.name ? file1?.name : '')"></i>
                <p>{{file1?.name ? file1?.name : "" | shortFile:15 }}</p>
                <i class="fa-solid fa-xmark close-icon-main"></i>
              </div>
              <div class="file-block">
                <i [ngClass]="getIcon(file2?.name ? file2?.name : '')"></i>
                <p>{{file2?.name ? file2?.name : "" | shortFile:15 }}</p>
                <i class="fa-solid fa-xmark close-icon-main"></i>
              </div>
            </div>
            <button *ngIf="steps==2" (click)="onButtonClick()" class="submit-btn">Submit</button>
          </div>
        </div>
    </section>
  </main>
  <footer>
    <section class="steps-container">
      <article class="step-wrapper step-load">
        <div class="step-content">
          <img class="step-image" src="https://cdn.builder.io/api/v1/image/assets/TEMP/af3a7aef9b3a0431c6fb650425d631934a12199ca45b8562d0a2883aeae3240e?placeholderIfAbsent=true&apiKey=a71283fcfc9346f9a4b772b9eba7880e" alt="Step 1: Load your file" loading="lazy" />
          <p class="step-text">Load your file</p>
        </div>
      </article>

      <article class="step-wrapper step-instruction">
        <div class="step-content">
          <img class="step-image" src="https://cdn.builder.io/api/v1/image/assets/TEMP/bc5e32b6b0076830712e1dede1bd109d0d09eb454e9baa007123e838fb6c92c7?placeholderIfAbsent=true&apiKey=a71283fcfc9346f9a4b772b9eba7880e" alt="Step 2: Load instruction" loading="lazy" />
          <p class="step-text">Load Instruction</p>
        </div>
      </article>

      <article class="step-wrapper step-result">
        <div class="step-content">
          <img class="step-image" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8a7ea8c3fd69b30e6c977a0ad93e514f6a8d401a563345c1d739cf4af473ee1?placeholderIfAbsent=true&apiKey=a71283fcfc9346f9a4b772b9eba7880e" alt="Step 3: Watch result" loading="lazy" />
          <p class="step-text">Watch result</p>
        </div>
      </article>

      <article class="step-wrapper step-edit">
        <div class="step-content">
          <img class="step-image" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fba62ba5ce698fdac22797be7cbcb3b2bdbeb9efd244f4dc793ca5834cd9347d?placeholderIfAbsent=true&apiKey=a71283fcfc9346f9a4b772b9eba7880e" alt="Step 4: Edit with AI" loading="lazy" />
          <p class="step-text">Edit it with AI</p>
        </div>
      </article>
    </section>
  </footer>
</div>

<div class="upload-container">
  <input
    type="file"
    id="fileInput"
    (change)="onFileSelected1($event)"
    accept=".pdf,.doc,.docx,.txt"
    hidden
    required
  />
</div>

<div class="upload-container">
  <input
    type="file"
    id="fileInput2"
    (change)="onFileSelected2($event)"
    accept=".pdf,.doc,.docx,.txt"
    hidden
    required
  />
</div>
