@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.app-root{
  width: 60%;
  max-width: 900px
}

body{
  font-family: 'Lexend', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../src/assets/bg.jpeg");
  background-size: cover;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.brand-header {
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    -webkit-text-stroke: 2px white;
    font-family: monospace;
    font-size: 40px;
  }
}
.header-component{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:30px;


  .brand-title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 181px;
    color: rgb(43, 47, 50);
    white-space: nowrap;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    -webkit-text-stroke: 2px white;
    font-family: monospace;
  }

  .info-container {
    border-radius: 0;
    display: flex;
    max-width: 130px;
    flex-direction: column;
    color: rgb(43, 47, 50);
    white-space: nowrap;
    font: 400 24px Lexend, sans-serif;
  }
  .info-content {
    border-radius: 10px;
    background: rgb(245, 240, 240);
    display: flex;
    gap: 15px;
    padding: 7px 15px;
    align-items: center;
  }
  .info-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
  }
  .info-text {
    margin: 0;
  }
}

.main-content{
  .document-validator-header {
    margin-bottom: 40px;
    margin-top: 60px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    font-family: Lexend, sans-serif;
    color: rgb(30, 30, 30);
    font-weight: 900;
    text-align: center;
  }
  .primary-heading {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.8rem;
    width: 100%;
    margin: 0;
  }
  .subheading {
    font-size: 16px;
    align-self: center;
    margin: 11px 0 0;
    font-weight: 300;
  }
  .main-container {
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3))
    drop-shadow(0 6px 10px rgba(0, 0, 0, 0.15));
    display: flex;
    max-width: 900px;
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
    border-radius: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .status-bar {
    display: flex;
    width: 250px;
    max-width: 100%;
    padding: 30px 0;
  }
  .logo {
    -webkit-text-stroke: 2px #fff;
    aspect-ratio: 3.5;
    object-fit: contain;
    object-position: center;
    width: 112px;
    max-width: 100%;
  }
  .step-navigation {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .step-indicator {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 32px;
    margin: auto 0;

    .step{
      align-items: center;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 11px 3px;
      border: 2px solid #959599;
    }

    .step.active{
      color: #4f46e5;
      border: 2px solid #4F46E5;
      .step-dot{
        background: #4F46E5;
      }
    }

  }
  .step-dot {
    background: #959599;
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
  }
  .progress-line {
    background: #959599;
    align-self: stretch;
    display: flex;
    width: 80px;
    height: 2px;
    flex: 1;
    margin: auto 0;
  }
  .progress-line.line-green{
    background: #4F46E5;
  }
  .step-pending {
    display: flex;
    flex-direction: column;
  }
  .step-inactive {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 11px 6px;
    border: 2px solid #959599;
  }
  .step-dot-inactive {
    background: #959599;
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
  }
  .content-box {
    border-radius: 16px;
    background: #F1F5FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
    .content-box-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .secondary-tool-tip{
      margin: 0;
    }

  }
  .status-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 68px;
  }
  @media (max-width: 991px) {
    .progress-wrapper {
      max-width: 100%;
      padding: 0 20px;
    }
    .content-box {
      max-width: 100%;
      padding: 0 20px 100px;
    }
    .status-icon {
      margin-bottom: 10px;
    }
  }

  .stepper-navigation {
    display: flex;
    color: #3c4257;
    font: 500 14px/1 Lexend, sans-serif;
    border-radius: 0;
  }

  .step-container {
    display: flex;
    flex-direction: column;
  }
}
.chat-title {
  padding-top: 20px;

}
.chat-logo {
  aspect-ratio: 2.85;
  object-fit: contain;
  object-position: center;
  width: 185px;
  align-self: center;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.chat-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chat-img {
  width: 60px;
  height: 60px;
}
.chat-title {
  font-family: Lexend, sans-serif;
  font-size: 36px;
  color: #333;
  margin: 0;
  font-weight: 600;
  align-self: center;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: Lexend, sans-serif;
  position: relative;
  z-index: 1;
}

.chat-window {

  header{
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  min-width: 900px;
  min-height: 600px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3))
  drop-shadow(0 6px 10px rgba(0, 0, 0, 0.15));
  font: 400 20px Lexend, sans-serif;
  border-radius: 16px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.message-group {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 15px 2px;
  justify-self: flex-end;
}

.assistant-message,
.user-message {
  display: flex;
  gap: 5px;
  padding: 8px 5px;
  border-radius: 10px;
  background: #f1f5ff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 80%;
}

.user-message {
  align-self: flex-end;
}

.assistant-message {
  align-self: flex-start;

}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.avatar.assistant {
  background: #000;
}

.avatar.user {
  background: #4f46e5;
}

.message-text {
  margin: 0;
  color: #000;
}

.message-input {
  display: flex;
  gap: 20px;
  padding: 7px 15px;
  border-radius: 10px;
  background: #f1f5ff;
  border: 2px solid #eee;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0; /* Убираем отступ сверху */
  justify-content: flex-end;
}

.input-field {
  flex: 1;
  border: none;
  background: transparent;
  color: #5b5b5b;
  font: inherit;
}

.input-field:focus {
  outline: none;
}

.send-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #e0dbdb;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.add-icon{
    background: #4F46E5;
    border-radius: 50%;
    padding: 3px;
    width: 45px;
    height: 45px;
    position: relative;

  &:hover{
    background: #635be1;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  .fa-plus{
    top: 50%;
    color: white;
    font-size: 32px;
    font-weight: 300;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.secondary-heading{
  font-family: Lexend, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #333;
}

.secondary-tool-tip{
  font-family: Lexend, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #333;
}

.dot-hidden{
  background: #fff !important;
}

.fa-check{
  position: absolute;
}

.content-box.inactive{
  filter: blur(4px);
  pointer-events: none;
}

.content-box.rotating{
  animation: rotate3d 1.5s ease-in-out;
  position: relative;
  transform-style: preserve-3d;
}

@keyframes rotate3d {
  0% {
    transform: rotateX(0deg);
    filter: blur(5px);
    pointer-events: none;
  }
  25% {
    transform: rotateX(90deg);
    filter: blur(5px);
    pointer-events: none;
  }
  50% {
    transform: rotateX(180deg);
    filter: blur(5px);
    pointer-events: none;
  }
  75% {
    transform: rotateX(270deg);
    filter: blur(5px);
    pointer-events: none;
  }
  100% {
    transform: rotateX(360deg);
    filter: blur(5px);
    pointer-events: none;
  }
}


textarea{
  width: 80%;
  height: 100%;
  padding: 10px 10px 40px 10px;
  border: 2px solid #808080;
  outline: none;
  border-radius: 5px;
  background: #fff;
  resize: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.submit-btn{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-family: 'Lexend', sans-serif;
  color: #4F46E5;
  border: 2px solid #4F46E5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  &:hover{
    background: #4F46E5;
    color: #fff;
  }
  &:active{
    background: #3d33cc;
  }
}
